@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
body,
html {
  height: 100vh;
}
body {
  background: #e6c068;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

input {
  box-shadow: 2px 2px 0px #ffffff, 5px 4px 0px #4a723f;
  font-size: 15px;
  font-weight: 300;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid silver;
  margin-bottom: 10px;
  transition: all 0.5s ease-out;
  border: 2px solid #6eaa5e;
}
input::placeholder {
  color: silver;
}
