.message_block {
  margin: 0 0 20px 20px;
}
.message_block form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.typing {
  font-weight: 300;
  font-size: 15px;
  color: #7f7f7f;
}
.inp {
  font-size: 15px;
  border: 1px solid #7f7f7f;
  padding: 10px;
  width: 40vw;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 20px;
}
.inp:focus {
  outline: none;
  border: 2px solid #7f7f7f;
}

.btn {
  box-shadow: 2px 2px 0px #ffffff, 5px 4px 0px #4a723f;
  font-size: 1.2vw;
  font-weight: 400;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #6eaa5e;
  color: white;
  cursor: pointer;
  transition: all 500ms;
  width: 6vw;
}
.btn:hover {
  background-color: #4a723f;
  border: 2px solid white;
}
